.title, h3{
    text-transform: uppercase;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}
th, h3{
    width: 60em;
    text-align: center;
    border-bottom: solid 1px;
}
figure{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;  
    margin: 2%;
    width: 29%;  
}

#clear{
    clear: left;
}
.nameTitle{
    position: relative;
    top: 20px;
}
@media(max-width: 800px){
    figure{
        float: none;
        width: 90%;
    }
    
}