*     {
    box-sizing: border-box;
  }
  html,
  body   {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
  }
  
  /* styling our overall page */
  body     {
    background: #FFF;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* styling my header */
  header   {
    background: #222;
    color: #FFF;
    padding: 20px 20px;
  }
  .header2{
      
    background: #333;
    text-align: center;
  }
  
  /* logo */
  #logo         {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    width: 49%;
  }
  #logo img    {
    width: 50px;
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
  }
  #logo span   {
    display: inline-block;
  }
  
  /* main navigation */
  nav     {
    width: 50%;
    display: inline-block;
    text-align: right;
  }
  nav ul   {
    list-style: none;
    margin: 0;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a    {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 0.3s ease all;
  }
  nav ul li a:hover   {
    background: #444;
  }
  
  /* styling my footer */
  footer   {
    background: #222;
    color: #777;
    padding: 20px;
    text-align: center;
  }
  footer img   {
    display: block;
    border-radius: 5px;
    width: 80px;
    margin: 0 auto 10px;
  }
  
  /* styling my main content */
.dropdown {
    display: inline-block;
}
 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 400px;
    z-index: 1;
    font-size: 16px;
}

.dropdown:hover .dropdown-content {
    display: inline;
}
#about{

    background-color: white;
    color: darkgrey;
    text-align: left;
}
#btn{
    color: #777;
    border: none;
    font-size: medium;
    background-color: lightgrey;
}
 
.title{
    max-height: 900px;
    text-align: center;
    background-size: cover;
  }
  .title-content   {
      background-color: #EEE;
    color: #999;
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .title-content h1   {
    font-size: 60px;
    margin: 0;
  }
  .title-content p    {
    font-size: 20px;
  }
  .title-content a    {
    display: inline-block;
    color: #BBB;
    border: 3px solid #777;
    border-radius: 3px;
    padding: 15px 30px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* basic site sections */
  .site-section   {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .site-section-secondary   {
    background: #EFEFEF;
  }
  .site-section-inside   {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .section-header {
    text-align: center;
    margin-bottom: 30px;
  }
  .section-header h2  {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    color: #777;
  }
  
  /* hobbies and interests */
  .hobby-interest   {
    display: inline-block;
    width: 33%;
    padding: 20px 30px;
  }
  .hobby-interest img  {
    margin-bottom: 12px;
    width: 80px;
  }
  .hobby-interest h5, .top-skills h5 {
    font-size: 20px;
    color: #999;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
  }
  
  /* work experiences */
  .work-experience   {
    display: inline-block;
    width: 33%;
    padding: 20px 30px;
  }
  .work-experience:not(:last-child){
        border-right: solid;
  }
  .work   {
    background: #EEE;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  .company img {
    float: left;
    width: 80px;
    border-radius: 50%;
    margin-right: 15px;
    vertical-align: middle;
  }
  .company h5   {
    font-size: 18px;
    margin: 0;
    padding-top:15px;
  }
  .company span {
    font-size: 14px;
  }
  .top-skills{
    display: inline-block;
    width: 45%;
    padding: 30px 20px;
  }


  /* Contact page editing */


.contact-section{
    background: url(./../image/background.jpeg) no-repeat center;
    padding: 40px 0px;
    background-size: cover;
}
.contact-section h1{
    text-align: center;
    color: #DDD;
}
.border{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
}
.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
    resize: none;
    height: 180px;
}
.contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #FFF;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    
}
.social-networks{
    float: right;
    text-align: center;
}
.social-networks-image{
    width: 2%;
}
.contact-form-btn:hover{
    background: #2980b9;
}
.validation-messages{
  color: #ff8888;
  font-size: xx-small;
}
.hide{
  display: none;
}
input:required {
  border-bottom: 2px solid #c33;
}

/* My Works page editing */
.question-section   {
    padding-bottom: 50px;
    padding-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    
  }
  .question-section:not(:last-child){
    
    border-bottom: solid;
  }
 
  .question-content   {
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .question-header {
    text-align: left;
    margin-bottom: 30px;
    margin-left: 20%;
  }
  .question-header h4  {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    color: #444;

  }
  ul   {
    list-style: none;
    margin: 0;
  }

  .question-section  ul li a    {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px 5px;
    border-radius: 3px;
    font-size: x-large ;
    transition: 0.3s ease all;
  }
  nav ul li a:hover   {
    background: #444;
  }
   /* Blog page editing */
   .answer-content{
       
    text-align: left;
   }
   .question-title, .answer-header{
       font-size: large;
   }
   .question-asked{
       text-align: center;
   }
   .date-posted{
       text-align: right;
       color: lightslategrey;
   }
